<a href="https://colab.research.google.com/github/eliot28/desafioLatam/blob/main/Tutoria_4_python_guia_estudio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo_academia.png]()

<center><h1>  <font color='green'> Gu√≠a de estudio N¬∞2 - Tipos y estructuras de datos (Parte II)</font></h1></center>
<hr>

üòÄ¬°Hola! Te damos la bienvenida a esta nueva gu√≠a de estudio.


## <font color='green'>¬øEn qu√© consiste esta gu√≠a?</font>
La siguiente gu√≠a de estudio tiene como objetivo que puedas revisar lo abordado en clases, variando los par√°metros cuando corresponda para que puedas observar el efecto de estas modificaciones.

<center>

![cohete.png]()

</center>

<center> <strong>¬°Vamos con todo!</strong> </center>

## <font color='green'>Tabla de contenidos</font>

1. Introducci√≥n a los DataFrames
    - Indices de filas y columnas
    - Creaci√≥n de DataFrames
    - Operaciones y m√©todos
    - Combinaci√≥n de DataFrames

2. Explorando un DataFrame
3. Orden, Ranking e indexaci√≥n de un DataFrame

<center>

![comencemos.png]()

</center>

<center> <font color='green'> <strong>¬°Comencemos!</strong></font> </center>

 # <font color='green'>Introducci√≥n a los DataFrames</font>

Un DataFrame de Pandas es una estructura de datos tabular que se compone de filas y columnas.

In [1]:
import pandas as pd

df = pd.read_csv("resumen_resultados_astronautas.csv")
df

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
0,Alana Morillo,32,75,180,93,88,78,89,6,Si
1,F√°tima Tafalla,27,68,167,82,95,81,87,4,Si
2,Sof√≠a Puig,29,80,185,85,80,90,91,3,Si
3,Valentina Tasis,30,65,175,90,91,85,92,2,No
4,Regina Cicer√≥n,31,76,183,89,87,83,90,7,Si
5,Amaya de la Cruz,26,64,170,80,94,79,86,4,No
6,Mar√≠a Juder√≠as,28,78,182,88,85,87,92,5,Si
7,Perla Alcocer,30,71,168,86,92,82,88,3,No
8,Consuela Arboleda,33,77,188,94,83,89,93,8,Si
9,Mar√≠a Jos√© Franco,29,70,175,87,90,80,89,2,No
10,Emanuel G√°lvez,27,73,181,84,89,84,87,3,Si
11,Alberto Graciani,28,62,163,81,93,77,85,5,No
12,Patricio Encarnaci√≥n,30,81,190,93,86,88,91,4,Si
13,Crist√≥bal Miralles,31,72,174,88,91,86,92,6,No
14,Pablo Cotilla,27,75,178,86,87,85,89,2,Si
15,Pablo Capmany,29,69,171,82,94,80,88,4,No
16,Nicol√°s Cambeiro,29,68,175,88,90,81,90,2,No
17,Daniel S√°nchez,26,63,167,80,93,78,85,4,No
18,Samuel G√°lvez,22,74,183,91,91,91,86,3,Si
19,Jos√© Par√≠s,40,68,163,78,85,85,77,8,No
20,Kevin Pareja,27,61,177,85,90,87,79,2,Si
21,Estefania Manzanares,31,79,179,89,82,85,81,5,Si
22,√ìliver Fonseca,38,80,164,77,88,90,89,9,No
23,Christopher Berganza,23,70,173,92,93,92,85,1,Si
24,√Ålvaro Espina,30,76,180,90,84,87,82,4,Si
25,Leonardo Magrina,39,65,171,79,92,90,85,8,No
26,Fernando G√°lvez,25,72,168,88,88,89,83,2,Si
27,Sophie Gonz√°lez,36,75,176,85,82,84,80,7,No
28,Alexia Gaos,21,69,169,93,94,93,86,0,Si
29,F√°tima Varela,33,73,182,91,90,91,88,5,Si
30,Clara Arias,44,63,162,77,87,88,84,11,No
31,Paloma Berganza,28,62,174,87,85,87,78,3,Si

Si no queremos que se muestre todo el DataFrame (porque podr√≠a ser excesivamente largo), podemos usar el m√©todo **head()**, que por defecto nos mostrar√° las primeras 5 filas.

In [4]:
df.head()

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
0,Alana Morillo,32,75,180,93,88,78,89,6,Si
1,F√°tima Tafalla,27,68,167,82,95,81,87,4,Si
2,Sof√≠a Puig,29,80,185,85,80,90,91,3,Si
3,Valentina Tasis,30,65,175,90,91,85,92,2,No
4,Regina Cicer√≥n,31,76,183,89,87,83,90,7,Si

Si queremos ver m√°s filas, podemos indicarlo como se muestra.

In [ ]:
df.head(n=9)

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
0,Alana Morillo,32,75,180,93,88,78,89,6,Si
1,F√°tima Tafalla,27,68,167,82,95,81,87,4,Si
2,Sof√≠a Puig,29,80,185,85,80,90,91,3,Si
3,Valentina Tasis,30,65,175,90,91,85,92,2,No
4,Regina Cicer√≥n,31,76,183,89,87,83,90,7,Si
5,Amaya de la Cruz,26,64,170,80,94,79,86,4,No
6,Mar√≠a Juder√≠as,28,78,182,88,85,87,92,5,Si
7,Perla Alcocer,30,71,168,86,92,82,88,3,No
8,Consuela Arboleda,33,77,188,94,83,89,93,8,Si

## <font color='green'> √çndices de filas y columnas</font>

Cada columna del DataFrame tiene una etiqueta o nombre que la identifica, mientras que cada fila puede o no tener una etiqueta que la identifique.

<center>
<img src="https://files.realpython.com/media/fig-1.d6e5d754edf5.png" width="500">

</center>


El √≠ndice es un objeto que se encuentra en el atributo index de un DataFrame. Pueden ser num√©ricos, etiquetas, fechas, horas, entre otros. Cuando hablamos de √≠ndice, podemos referirnos a las etiquetas o a las posiciones de fila o columna. Por defecto, Pandas considerar√° el n√∫mero de fila, tomando en cuenta la forma en que se ha generado. Por ejemplo:

In [ ]:
df.index

RangeIndex(start=0, stop=32, step=1)

Observa que, si queremos averiguar cu√°les son nuestras columnas, basta usar un sencillo comando:

In [ ]:
df.columns

Index(['nombre', 'edad', 'peso', 'altura', 'evaluacion_fisica',
       'evaluacion_psicologica', 'evaluacion_adaptativa', 'evaluacion_medica',
       'anos_experiencia', 'califica'],
      dtype='object')

### <font color='green'>Elegir una columna como √≠ndice de filas</font>

El m√©todo **set_index()** nos permite establecer una columna existente como √≠ndice. Al hacerlo, la quita de las columnas del DataFrame.

In [ ]:
df = df.set_index('nombre')
df.head()

,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
nombre,,,,,,,,,
Alana Morillo,32,75,180,93,88,78,89,6,Si
F√°tima Tafalla,27,68,167,82,95,81,87,4,Si
Sof√≠a Puig,29,80,185,85,80,90,91,3,Si
Valentina Tasis,30,65,175,90,91,85,92,2,No
Regina Cicer√≥n,31,76,183,89,87,83,90,7,Si

In [ ]:
df.index

Index(['Alana Morillo', 'F√°tima Tafalla', 'Sof√≠a Puig', 'Valentina Tasis',
       'Regina Cicer√≥n', 'Amaya de la Cruz', 'Mar√≠a Juder√≠as', 'Perla Alcocer',
       'Consuela Arboleda', 'Mar√≠a Jos√© Franco', 'Emanuel G√°lvez',
       'Alberto Graciani', 'Patricio Encarnaci√≥n', 'Crist√≥bal Miralles',
       'Pablo Cotilla', 'Pablo Capmany', 'Nicol√°s Cambeiro', 'Daniel S√°nchez',
       'Samuel G√°lvez', 'Jos√© Par√≠s', 'Kevin Pareja', 'Estefania Manzanares',
       '√ìliver Fonseca', 'Christopher Berganza', '√Ålvaro Espina',
       'Leonardo Magrina', 'Fernando G√°lvez', 'Sophie Gonz√°lez', 'Alexia Gaos',
       'F√°tima Varela', 'Clara Arias', 'Paloma Berganza'],
      dtype='object', name='nombre')

Podemos revertir lo anterior con el siguiente comando:

In [ ]:
df = df.reset_index()
df.head()

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
0,Alana Morillo,32,75,180,93,88,78,89,6,Si
1,F√°tima Tafalla,27,68,167,82,95,81,87,4,Si
2,Sof√≠a Puig,29,80,185,85,80,90,91,3,Si
3,Valentina Tasis,30,65,175,90,91,85,92,2,No
4,Regina Cicer√≥n,31,76,183,89,87,83,90,7,Si

In [ ]:
df = df.set_index('nombre') # devolvemos a lo anterior, para seguir trabajando

![manos.png]()**¬°Manos a la obra!**

Utilizando el dataset **nobel_latest.csv:**



1.   C√°rgalo a un dataset, llamado premios_Nobel
2.   Genera la lista de columnas que contiene.
3.   Muestra los 10 primeros elementos del DataFrame.
4.   Re indexalo seg√∫n una columna. ¬øCu√°l es la m√°s l√≥gica de escoger?

##  <font color='green'>Creaci√≥n de DataFrames</font>

### <font color='green'>Un dataFrame vac√≠o</font>

En ocasiones, podemos necesitar definir un dataFrame vac√≠o.

In [ ]:
dfn=pd.DataFrame()
dfn

Empty DataFrame
Columns: []
Index: []

### <font color='green'>A partir de una lista de filas</font>

In [ ]:
lista = [ [1, 'a', True], [2, 'b', False], [3, 'c', True] ]
columnas = ['columna_1', 'columna_2', 'columna_3']

df2 = pd.DataFrame(lista, columns=columnas)
df2

   columna_1 columna_2  columna_3
0          1         a       True
1          2         b      False
2          3         c       True

![manos.png]()**¬°Manos a la obra!**

- Crea Dataframes a partir de tus propias listas.
- Prueba lo que ocurre si las listas con las que intentas crear el DataFrame no tienen la misma cantidad de elementos.

### <font color='green'>A partir de un diccionario</font>

In [ ]:
import pandas as pd

datos = {'nombre': ['Juan', 'Mar√≠a', 'Pedro'], 'edad': [25, 30, 40], 'ciudad': ['Bogot√°', 'Medell√≠n', 'Cali']}

df3 = pd.DataFrame(datos)
df3

  nombre  edad    ciudad
0   Juan    25    Bogot√°
1  Mar√≠a    30  Medell√≠n
2  Pedro    40      Cali

### <font color='green'>A partir de una lista de diccionarios</font>

In [ ]:
datos = [{'nombre': 'Juan', 'edad': 25, 'ciudad': 'Bogot√°'}, {'nombre': 'Mar√≠a', 'edad': 30, 'ciudad': 'Medell√≠n'}, {'nombre': 'Pedro', 'edad': 40, 'ciudad': 'Cali'}]

df4 = pd.DataFrame(datos)
df4

  nombre  edad    ciudad
0   Juan    25    Bogot√°
1  Mar√≠a    30  Medell√≠n
2  Pedro    40      Cali

### <font color='green'>A partir de un NumPy Array</font>

In [ ]:
import numpy as np

arr = np.array([[1, 2], [3, 4]])
df5 = pd.DataFrame(arr, columns=['A', 'B'])
df5

   A  B
0  1  2
1  3  4

## <font color='green'>Operaciones y m√©todos en DataFrames</font>

###  <font color='green'>Crear nuevas columnas</font>

Recordando los diccionarios de Python, cuando agregamos nuevas claves lo hacemos de la siguiente forma:

In [ ]:
# Creamos un diccionario con un solo par clave-valor, que es una lista en nuestro caso.
diccionario_dias = {"dias_laborales": ["Lunes", "Martes", "Mi√©rcoles", "Jueves", "Viernes"]}

print(diccionario_dias)

# Asignamos un nuevo par clave-valor.
diccionario_dias["dias_no_laborales"] =  ["S√°bado", "Domingo"]

print(diccionario_dias)

{'dias_laborales': ['Lunes', 'Martes', 'Mi√©rcoles', 'Jueves', 'Viernes']}
{'dias_laborales': ['Lunes', 'Martes', 'Mi√©rcoles', 'Jueves', 'Viernes'], 'dias_no_laborales': ['S√°bado', 'Domingo']}

Cuando agregamos una nueva columna a un **DataFrame**, lo hacemos de la misma manera **pero** con una importante diferencia: **la columna que se agregue al DataFrame debe tener tantos valores como filas haya en el DataFrame!**

Veamos un ejemplo:

In [5]:
df_dias = pd.DataFrame({"dias_laborales": ["Lunes", "Martes", "Mi√©rcoles", "Jueves", "Viernes"]})
df_dias

  dias_laborales
0          Lunes
1         Martes
2      Mi√©rcoles
3         Jueves
4        Viernes

In [7]:
df_dias["dias_no_laborales"] = ["S√°bado", "Domingo","","",""]
df_dias

  dias_laborales dias_no_laborales
0          Lunes            S√°bado
1         Martes           Domingo
2      Mi√©rcoles
3         Jueves
4        Viernes

Tuvimos que agregar tres "strings vac√≠os", para que la lista "dias_no_laborales" tenga la misma cantidad de elementos que "dias_laborales".

![manos.png]() **¬°Manos a la obra!**

Verifica lo que ocurre si solo se agrega la lista con dos d√≠as.

#### <font color='green'>Nuevas columnas con operaciones</font>

Podemos crear nuevas columnas como resultado de alguna operaci√≥n sobre una columna o entre columnas.

In [8]:
df_nombres = pd.DataFrame({"nombres": ["Juan", "Pedro", "Daniela", "Marta", "Alejandra"]})
df_nombres

     nombres
0       Juan
1      Pedro
2    Daniela
3      Marta
4  Alejandra

Vamos a agregar prefijos a cada valor de cada columna, como se muestra:

In [10]:
df_nombres["nombres_prefijo_version_1"] = "Sr. " + df_nombres['nombres']
df_nombres["nombres_prefijo_version_2"] = ["Sr. ", "Sr. ", "Sra. ", "Sra. ", "Sra. "] + df_nombres['nombres']
print(df_nombres.dtypes)

nombres                      object
nombres_prefijo_version_1    object
nombres_prefijo_version_2    object
dtype: object

Analiza las columnas creadas, y explica sus diferencias.<br>

Podemos agregar una columna, adem√°s, generando una lista de valores aleatorios.

In [ ]:
import numpy as np
df_nombres["edad"] = np.random.randint(18, 100, 5)
df_nombres

     nombres nombres_prefijo_version_1 nombres_prefijo_version_2  edad
0       Juan                  Sr. Juan                  Sr. Juan    32
1      Pedro                 Sr. Pedro                 Sr. Pedro    58
2    Daniela               Sr. Daniela              Sra. Daniela    93
3      Marta                 Sr. Marta                Sra. Marta    38
4  Alejandra             Sr. Alejandra            Sra. Alejandra    95

![manos.png]() **¬°Manos a la obra!**

En el dataFrame anterior, a partir de la edad, inserta una columna que incluya el a√±o de nacimiento (considerando que todos ya estuvieron de cumplea√±os)

In [ ]:
#Escribe tu c√≥digo aqu√≠

## <font color='green'>Combinaci√≥n de DataFrames</font>

Podemos combinar dos DataFrames en un proceso similar a la operaci√≥n JOIN, de tablas en SQL.

Con Python, utilizamos **pd.concat()**, que recibe una lista con DataFrames que deben tener las mismas columnas.

In [13]:
import random
import numpy as np
df1 = pd.DataFrame({"mes": "enero", "ventas":np.random.randint(1,100, 5)})
df1

     mes  ventas
0  enero      99
1  enero      94
2  enero       7
3  enero      26
4  enero      67

In [14]:
df2 = pd.DataFrame({"mes": "febrero", "ventas":np.random.randint(1,100, 5)})
df2

       mes  ventas
0  febrero      48
1  febrero      74
2  febrero      63
3  febrero      92
4  febrero      83

In [ ]:
df3 = pd.concat([df1, df2])
df3

       mes  ventas
0    enero      62
1    enero       7
2    enero      66
3    enero      41
4    enero      16
0  febrero      15
1  febrero      83
2  febrero      79
3  febrero      59
4  febrero      23

### <font color='green'>Reindexando</font>

Podemos observar que los indices quedaron duplicados y desordenados, por lo que para evitar confusiones se recomienda reiniciar el indice de las filas luego de hacer Uniones de este estilo.

In [ ]:
df3 = df3.reset_index(drop=True) #¬øQu√© ocurre si no ponemos "drop=True" (que es el valor por defecto)?
df3

       mes  ventas
0    enero      62
1    enero       7
2    enero      66
3    enero      41
4    enero      16
5  febrero      15
6  febrero      83
7  febrero      79
8  febrero      59
9  febrero      23

In [ ]:
df4 = pd.DataFrame({"mes": "marzo", "ventas": np.random.randint(1,100, 1)})
df4

     mes  ventas
0  marzo      24

Para simplificar, utilizamos el parametro **ignore_index** del m√©todo **concat** al realizar la union de DataFrames. De esta manera, el indice se reiniciar√° autom√°ticamente.

In [ ]:
df5 = pd.concat([df3, df4], ignore_index = True)
df5

        mes  ventas
0     enero      62
1     enero       7
2     enero      66
3     enero      41
4     enero      16
5   febrero      15
6   febrero      83
7   febrero      79
8   febrero      59
9   febrero      23
10    marzo      24

# <font color='green'>Explorando un DataFrame</font>

###  <font color='green'>Conteos</font>

El m√©todo **value_counts()** nos permite hacer un recuento de los valores de cada columna. Considerando nuestro DataFrame tenemos

In [ ]:
df['anos_experiencia'].value_counts()

4     6
2     6
3     5
5     4
8     3
6     2
7     2
9     1
1     1
0     1
11    1
Name: anos_experiencia, dtype: int64

Podemos ver que en la columna izquierda aparecen los valores distintos de la columna 'anos_experiencia', y en la izquierda la cantidad de veces que dicho valor aparece repetido.

Por otro lado, si quisieramos obtener solamente los valores de una columna **sin realizar el conteo**, podemos utilizar el m√©todo **unique()**.

In [ ]:
df['anos_experiencia'].unique()

array([ 6,  4,  3,  2,  7,  5,  8,  9,  1,  0, 11])

### <font color='green'>Estad√≠stica descriptiva</font>

El m√©todo **describe** nos permite obtener varias medidas estadisticas en un solo paso.

In [ ]:
df.describe()

,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia
count,32.000000,32.00000,32.00000,32.000000,32.000000,32.00000,32.00000,32.000000
mean,29.968750,71.06250,174.78125,86.187500,88.718750,85.37500,86.46875,4.437500
std,5.095756,5.89115,7.48648,4.999597,4.025999,4.46311,4.28790,2.539209
min,21.000000,61.00000,162.00000,77.000000,80.000000,77.00000,77.00000,0.000000
25%,27.000000,67.25000,168.75000,82.000000,85.750000,81.75000,84.75000,2.750000
50%,29.000000,71.50000,175.00000,87.000000,89.500000,85.50000,87.00000,4.000000
75%,31.250000,75.25000,180.25000,90.000000,92.000000,89.00000,89.25000,6.000000
max,44.000000,81.00000,190.00000,94.000000,95.000000,93.00000,93.00000,11.000000

## <font color='green'>Orden, Ranking e indexaci√≥n de un DataFrame</font>

Consideremos el DataFrame original, de los astronautas

In [ ]:
df = pd.read_csv("resumen_resultados_astronautas.csv")
df = df.set_index('nombre')

Vamos a ordenarlos por edad. Observa la opci√≥n **ascending**

In [ ]:
df.sort_values(by = 'edad', ascending = False)

,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
nombre,,,,,,,,,
Clara Arias,44,63,162,77,87,88,84,11,No
Jos√© Par√≠s,40,68,163,78,85,85,77,8,No
Leonardo Magrina,39,65,171,79,92,90,85,8,No
√ìliver Fonseca,38,80,164,77,88,90,89,9,No
Sophie Gonz√°lez,36,75,176,85,82,84,80,7,No
F√°tima Varela,33,73,182,91,90,91,88,5,Si
Consuela Arboleda,33,77,188,94,83,89,93,8,Si
Alana Morillo,32,75,180,93,88,78,89,6,Si
Regina Cicer√≥n,31,76,183,89,87,83,90,7,Si
Crist√≥bal Miralles,31,72,174,88,91,86,92,6,No
Estefania Manzanares,31,79,179,89,82,85,81,5,Si
Valentina Tasis,30,65,175,90,91,85,92,2,No
Perla Alcocer,30,71,168,86,92,82,88,3,No
√Ålvaro Espina,30,76,180,90,84,87,82,4,Si
Patricio Encarnaci√≥n,30,81,190,93,86,88,91,4,Si
Nicol√°s Cambeiro,29,68,175,88,90,81,90,2,No
Pablo Capmany,29,69,171,82,94,80,88,4,No
Mar√≠a Jos√© Franco,29,70,175,87,90,80,89,2,No
Sof√≠a Puig,29,80,185,85,80,90,91,3,Si
Alberto Graciani,28,62,163,81,93,77,85,5,No
Mar√≠a Juder√≠as,28,78,182,88,85,87,92,5,Si
Paloma Berganza,28,62,174,87,85,87,78,3,Si
F√°tima Tafalla,27,68,167,82,95,81,87,4,Si
Kevin Pareja,27,61,177,85,90,87,79,2,Si
Pablo Cotilla,27,75,178,86,87,85,89,2,Si
Emanuel G√°lvez,27,73,181,84,89,84,87,3,Si
Daniel S√°nchez,26,63,167,80,93,78,85,4,No
Amaya de la Cruz,26,64,170,80,94,79,86,4,No
Fernando G√°lvez,25,72,168,88,88,89,83,2,Si
Christopher Berganza,23,70,173,92,93,92,85,1,Si
Samuel G√°lvez,22,74,183,91,91,91,86,3,Si
Alexia Gaos,21,69,169,93,94,93,86,0,Si

![manos.png]() **¬°Manos a la obra!**

- Modifica los par√°metros de la par√°metros del comando anterior.
- Ordena alfab√©ticamente por nombre, de manera ascendente.

Podemos obtener el ranking de los valores de una columna, con el m√©todo **rank()**

In [16]:
df['edad'].sort_values(ascending=True).rank(ascending=False)

28    32.0
18    31.0
23    30.0
26    29.0
5     27.5
17    27.5
1     24.5
20    24.5
10    24.5
14    24.5
31    21.0
6     21.0
11    21.0
16    17.5
15    17.5
9     17.5
2     17.5
12    13.5
3     13.5
7     13.5
24    13.5
4     10.0
21    10.0
13    10.0
0      8.0
8      6.5
29     6.5
27     5.0
22     4.0
25     3.0
19     2.0
30     1.0
Name: edad, dtype: float64

## <font color='green'>Indexaci√≥n de un DataFrame</font>

Indexar un DataFrame es una operaci√≥n fundamental en Pandas, que nos permite seleccionar un conjunto de datos espec√≠fico del DataFrame. La indexaci√≥n permite filtrar, ordenar y manipular los datos de una manera m√°s f√°cil y r√°pida. Distinguiremos esencialmente tres indexaciones fundamentales:

- **Indexaci√≥n por posici√≥n:** seleccionar una o varias filas y/o columnas del DataFrame mediante sus √≠ndices num√©ricos.
- **Indexaci√≥n por etiquetas:** seleccionar una o varias filas y/o columnas del DataFrame mediante sus etiquetas o nombres.
- **Indexaci√≥n booleana:** seleccionar filas del DataFrame que cumplan una o varias condiciones l√≥gicas.

De estas tres, la **indexaci√≥n booleana** puede resultar m√°s c√≥moda para el analisis de datos ya que permite hacer filtros basados en condiciones aplicados a la **Data** en lugar de a los **Indices**.

### <font color='green'>Indexaci√≥n por posiciones</font>

Podemos seleccionar valores espec√≠ficos del DataFrame utilizando sus posiciones con **iloc**. Para ello, podemos entregar una lista "fila(s) - columna(s)", como se muestra:

In [ ]:
df

,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
nombre,,,,,,,,,
Alana Morillo,32,75,180,93,88,78,89,6,Si
F√°tima Tafalla,27,68,167,82,95,81,87,4,Si
Sof√≠a Puig,29,80,185,85,80,90,91,3,Si
Valentina Tasis,30,65,175,90,91,85,92,2,No
Regina Cicer√≥n,31,76,183,89,87,83,90,7,Si
Amaya de la Cruz,26,64,170,80,94,79,86,4,No
Mar√≠a Juder√≠as,28,78,182,88,85,87,92,5,Si
Perla Alcocer,30,71,168,86,92,82,88,3,No
Consuela Arboleda,33,77,188,94,83,89,93,8,Si
Mar√≠a Jos√© Franco,29,70,175,87,90,80,89,2,No
Emanuel G√°lvez,27,73,181,84,89,84,87,3,Si
Alberto Graciani,28,62,163,81,93,77,85,5,No
Patricio Encarnaci√≥n,30,81,190,93,86,88,91,4,Si
Crist√≥bal Miralles,31,72,174,88,91,86,92,6,No
Pablo Cotilla,27,75,178,86,87,85,89,2,Si
Pablo Capmany,29,69,171,82,94,80,88,4,No
Nicol√°s Cambeiro,29,68,175,88,90,81,90,2,No
Daniel S√°nchez,26,63,167,80,93,78,85,4,No
Samuel G√°lvez,22,74,183,91,91,91,86,3,Si
Jos√© Par√≠s,40,68,163,78,85,85,77,8,No
Kevin Pareja,27,61,177,85,90,87,79,2,Si
Estefania Manzanares,31,79,179,89,82,85,81,5,Si
√ìliver Fonseca,38,80,164,77,88,90,89,9,No
Christopher Berganza,23,70,173,92,93,92,85,1,Si
√Ålvaro Espina,30,76,180,90,84,87,82,4,Si
Leonardo Magrina,39,65,171,79,92,90,85,8,No
Fernando G√°lvez,25,72,168,88,88,89,83,2,Si
Sophie Gonz√°lez,36,75,176,85,82,84,80,7,No
Alexia Gaos,21,69,169,93,94,93,86,0,Si
F√°tima Varela,33,73,182,91,90,91,88,5,Si
Clara Arias,44,63,162,77,87,88,84,11,No
Paloma Berganza,28,62,174,87,85,87,78,3,Si

In [ ]:
df.iloc[2,3] #cambia los valores y observa los resultados. ¬øQu√© significa cada valor?

##df.iloc[fila,columna]

85

Observa que podemos utilizar listas de filas y columnas

In [ ]:
df.iloc[[0,1,2,3,4,5,6], [0,1,2,3]]

                  edad  peso  altura  evaluacion_fisica
nombre
Alana Morillo       32    75     180                 93
F√°tima Tafalla      27    68     167                 82
Sof√≠a Puig          29    80     185                 85
Valentina Tasis     30    65     175                 90
Regina Cicer√≥n      31    76     183                 89
Amaya de la Cruz    26    64     170                 80
Mar√≠a Juder√≠as      28    78     182                 88

E incluso, rangos de filas y columnas

In [ ]:
df.iloc[0:5, 0:4]

                 edad  peso  altura  evaluacion_fisica
nombre
Alana Morillo      32    75     180                 93
F√°tima Tafalla     27    68     167                 82
Sof√≠a Puig         29    80     185                 85
Valentina Tasis    30    65     175                 90
Regina Cicer√≥n     31    76     183                 89

### <font color='green'>Indexaci√≥n por etiquetas</font>

Podemos seleccionar valores espec√≠ficos por etiqueta, gracias a **loc**

In [ ]:
df.loc[["Alana Morillo", "F√°tima Tafalla", "Sof√≠a Puig"], ["edad", "peso", "altura"]]

##df.loc[filas, columnas]

                edad  peso  altura
nombre
Alana Morillo     32    75     180
F√°tima Tafalla    27    68     167
Sof√≠a Puig        29    80     185

Podemos utilizar tambi√©n rangos de etiqueta.

In [ ]:
df.loc["Alana Morillo":"Regina Cicer√≥n", "edad":"altura"]

                 edad  peso  altura
nombre
Alana Morillo      32    75     180
F√°tima Tafalla     27    68     167
Sof√≠a Puig         29    80     185
Valentina Tasis    30    65     175
Regina Cicer√≥n     31    76     183

### <font color='green'>Indexaci√≥n booleana</font>

Podemos seleccionar datos poniendo condiciones, que podemos combinar utilizando los operadores booleanos & (and) y | (or). Notemos que las condiciones deben ponerse entre par√©ntesis, cuando haya m√°s de una.

In [ ]:
df[(df['edad'] >= 30) & (df['anos_experiencia'] >=5)]

,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
nombre,,,,,,,,,
Alana Morillo,32,75,180,93,88,78,89,6,Si
Regina Cicer√≥n,31,76,183,89,87,83,90,7,Si
Consuela Arboleda,33,77,188,94,83,89,93,8,Si
Crist√≥bal Miralles,31,72,174,88,91,86,92,6,No
Jos√© Par√≠s,40,68,163,78,85,85,77,8,No
Estefania Manzanares,31,79,179,89,82,85,81,5,Si
√ìliver Fonseca,38,80,164,77,88,90,89,9,No
Leonardo Magrina,39,65,171,79,92,90,85,8,No
Sophie Gonz√°lez,36,75,176,85,82,84,80,7,No
F√°tima Varela,33,73,182,91,90,91,88,5,Si
Clara Arias,44,63,162,77,87,88,84,11,No

![manos.png]() **¬°Manos a la obra!**

¬°Prueba con m√°s combinaciones de condiciones!

### <font color='green'>El m√©todo query()</font>

El m√©todo llamado **query()** nos permite realizar una indexaci√≥n booleana m√°s sencilla:

In [17]:
df.query("edad <= 21 or anos_experiencia == 0")

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
28,Alexia Gaos,21,69,169,93,94,93,86,0,Si

Como puedes ver:

- No son necesarios los parentesis **().**
- Podemos utilizar **"and"** y **"or"** en vez de **"&"** y **"|"**.

## <font color='green'>Exportando un DataFrame</font>

Podemos exportar f√°cilmente un DataFrame a un archivo csv (u otro formato, como xls) mediante el m√©todo **to_csv**. Su uso es el siguiente:

In [ ]:
df.query.to_csv("nombre.csv", index = False, sep = ',', header = False, columns = ['edad','evaluacion_adaptativa'])

los par√°metros de este m√©todo son:

  - **nombre.cvs:** corresponde al nombre del archivo que exportaremos (quedar√° en la misma carpeta que nuestro archivo de Jupyter o Python.
  - **index:** agrega o no una columna adicional de √≠ndice. Por defecto es True, por lo que denbemos especificar si no la queremos.
  - **sep:** corresponde al separador de datos. En nuestro caso, ser√°n comas.
  - **header:** similar a index, agrega o no la cabecera.
  - **columns**: lista de columnas que queremos que se exporten (si no precisamos, se exportar√°n todas). Podemos indicar las columnas utilizando sus etiquetas (como en nuestro ejemplo) o utilizando posiciones. En tal caso usamos columns=df.columns[[0, 2]]

# <font color='green'>Ejercicio: GAMEBOY</font>

En este ejercicio importaremos los datos desde el archivo: **best-selling-gameboy.csv**

- Generar dos DataFrames, uno de juegos de Gameboy Color y otro de Gameboy.
- Rankear los top 10 juegos con m√°s ventas de ambos dataframes.
- Responder las siguientes preguntas:
    - ¬øHay m√°s juegos de Gameboy Color o Juegos de Gameboy?
    - ¬øCu√°les fueron los 3 juegos menos vendidos del Publisher Capcom para ambas plataformas?

In [ ]:
# Leemos el archivo y generamos un DataFrame.
df = pd.read_csv("best-selling-gameboy.csv")
df.head()

,Game,Developer(s),Publisher,Platform,Release date,Sales
0,Pok√©mon Red / Green / Blue / Yellow,Game Freak,Nintendo,Game Boy,1996-02-27,46020000
1,Tetris,Nintendo R&D1,Nintendo,Game Boy,1989-06-14,35000000
2,Pok√©mon Gold / Silver / Crystal,Game Freak,Nintendo,Game Boy Color,1999-11-21,29490000
3,Super Mario Land,Nintendo R&D1,Nintendo,Game Boy,1989-04-21,18140000
4,Super Mario Land 2: 6 Golden Coins,Nintendo R&D1,Nintendo,Game Boy,1992-10-21,11180000

In [ ]:
# Dividiremos el DataFrame en dos.
df_game_boy = df.query("Platform == 'Game Boy'")
df_game_boy_color = df.query("Platform == 'Game Boy Color'")

In [ ]:
# Ordenamos por ventas de mayor a menor e indexamos las 10 primeras posiciones.
df_game_boy.sort_values(by = 'Sales', ascending = False).iloc[:10]

,Game,Developer(s),Publisher,Platform,Release date,Sales
0,Pok√©mon Red / Green / Blue / Yellow,Game Freak,Nintendo,Game Boy,1996-02-27,46020000
1,Tetris,Nintendo R&D1,Nintendo,Game Boy,1989-06-14,35000000
3,Super Mario Land,Nintendo R&D1,Nintendo,Game Boy,1989-04-21,18140000
4,Super Mario Land 2: 6 Golden Coins,Nintendo R&D1,Nintendo,Game Boy,1992-10-21,11180000
5,Dr. Mario,Nintendo R&D1,Nintendo,Game Boy,1990-07-27,5340000
7,Wario Land: Super Mario Land 3,Nintendo R&D1,Nintendo,Game Boy,1994-01-21,5190000
8,Kirby's Dream Land,HAL Laboratory,Nintendo,Game Boy,1992-04-27,5130000
11,Donkey Kong Land,Rare,Nintendo,Game Boy,1995-06-26,3910000
12,The Legend of Zelda: Link's Awakening,Nintendo EAD,Nintendo,Game Boy,1993-06-06,3830000
14,F-1 Race,Nintendo R&D1,Nintendo,Game Boy,1990-11-09,3410000

In [ ]:
# Ordenamos por ventas de mayor a menor e indexamos las 10 primeras posiciones.
df_game_boy_color.sort_values(by = 'Sales', ascending = False).iloc[:10]

,Game,Developer(s),Publisher,Platform,Release date,Sales
2,Pok√©mon Gold / Silver / Crystal,Game Freak,Nintendo,Game Boy Color,1999-11-21,29490000
6,Pok√©mon Pinball,Jupiter,Nintendo,Game Boy Color,1999-04-14,5310000
9,Super Mario Bros. Deluxe,Nintendo EAD,Nintendo,Game Boy Color,1999-05-01,5070000
10,The Legend of Zelda: Oracle of Seasons and Ora...,Flagship,Nintendo,Game Boy Color,2001-02-27,3960000
13,Pok√©mon Trading Card Game,Hudson Soft and Creatures Inc.,Nintendo,Game Boy Color,1998-12-18,3720000
18,Yu-Gi-Oh! Duel Monsters 4: Battle of Great Due...,Konami,Konami,Game Boy Color,2000-12-07,2500000
19,Yu-Gi-Oh! Dark Duel Stories,Konami,Konami,Game Boy Color,2000-07-13,2396518
22,Dragon Warrior Monsters,Tose,Enix,Game Boy Color,1998-09-25,2350000
23,The Legend of Zelda: Link's Awakening DX,Nintendo EAD,Nintendo,Game Boy Color,1998-12-12,2220000
24,Wario Land 3,Nintendo R&D1,Nintendo,Game Boy Color,2000-03-21,2200000

In [ ]:
df['Platform'].value_counts()

Game Boy          48
Game Boy Color    18
Name: Platform, dtype: int64

**R:** Hay m√°s juegos de Game Boy que juegos de Game Boy Color.

In [ ]:
df_game_boy.query("Publisher == 'Capcom'").sort_values(by="Sales", ascending = False).iloc[-3:]

           Game        Developer(s) Publisher  Platform Release date    Sales
56  Mega Man II  Japan System House    Capcom  Game Boy   1991-12-20  1000000
58    Star Wars        NMS Software    Capcom  Game Boy   1992-11-01  1000000
59  DuckTales 2       Make Software    Capcom  Game Boy   1993-04-23  1000000

In [ ]:
df_game_boy_color.query("Publisher == 'Capcom'").sort_values(by="Sales", ascending = False).iloc[-3:]

Empty DataFrame
Columns: [Game, Developer(s), Publisher, Platform, Release date, Sales]
Index: []

![manos.png]() **¬°Manos a la obra!**

En este ejercicio importaremos los datos desde el archivo: **best-selling-nintendo64.csv**

- Encontrar todos los juegos de Mario, reiniciar su indice y guardar los 5 m√°s vendidos en un archivo **"top5_mario.csv".**

In [ ]:
# Resuelve utilizando esta celda, antes de verificar con la soluci√≥n

In [ ]:
df = pd.read_csv("best-selling-nintendo64.csv")
df.head()

,Game,Developer(s),Publisher(s),Release date,Sales
0,Super Mario 64,Nintendo EAD,Nintendo,1996-06-23,11910000
1,Mario Kart 64,Nintendo EAD,Nintendo,1996-12-14,9870000
2,GoldenEye 007,Rare,Nintendo,1997-08-25,8090000
3,The Legend of Zelda: Ocarina of Time,Nintendo EAD,Nintendo,1998-11-21,7600000
4,Super Smash Bros.,HAL Laboratory,Nintendo,1999-01-21,5550000

In [ ]:
df_mario = df[df['Game'].str.contains("Mario")]
df_mario

,Game,Developer(s),Publisher(s),Release date,Sales
0,Super Mario 64,Nintendo EAD,Nintendo,1996-06-23,11910000
1,Mario Kart 64,Nintendo EAD,Nintendo,1996-12-14,9870000
16,Mario Party,Hudson Soft,Nintendo,1998-12-18,2700000
20,Mario Party 2,Hudson Soft,Nintendo,1999-12-17,2480000
21,Mario Tennis,Camelot Software Planning,Nintendo,2000-07-21,2320000
25,Mario Party 3,Hudson Soft,Nintendo,2000-12-07,1910000
33,Mario Golf,Camelot Software Planning,Nintendo,1999-06-11,1470000
35,Paper Mario,Intelligent Systems,Nintendo,2000-08-11,1370000

In [ ]:
df_mario = df_mario.reset_index(drop=True)
df_mario

,Game,Developer(s),Publisher(s),Release date,Sales
0,Super Mario 64,Nintendo EAD,Nintendo,1996-06-23,11910000
1,Mario Kart 64,Nintendo EAD,Nintendo,1996-12-14,9870000
2,Mario Party,Hudson Soft,Nintendo,1998-12-18,2700000
3,Mario Party 2,Hudson Soft,Nintendo,1999-12-17,2480000
4,Mario Tennis,Camelot Software Planning,Nintendo,2000-07-21,2320000
5,Mario Party 3,Hudson Soft,Nintendo,2000-12-07,1910000
6,Mario Golf,Camelot Software Planning,Nintendo,1999-06-11,1470000
7,Paper Mario,Intelligent Systems,Nintendo,2000-08-11,1370000

In [ ]:
df_mario.sort_values(by = 'Sales', ascending = False).to_csv("top5_mario.csv", index = False)