<a href="https://colab.research.google.com/github/eliot28/desafioLatam/blob/main/Tutoria_3_python_g80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo_academia.png]()

<center><h1>  <font color='green'> Gu√≠a de estudio N¬∞1 - Tipos y estructuras de datos (Parte I)</font></h1></center>
<hr>

üòÄ¬°Hola! Te damos la bienvenida a esta nueva gu√≠a de estudio.


## <font color='green'>¬øEn qu√© consiste esta gu√≠a?</font>
La siguiente gu√≠a de estudio tiene como objetivo practicar y ejercitar los contenidos que hemos visto en clase, adem√°s de profundizar temas adicionales que complementan aquellos vistos en la clase.

<center>

![cohete.png]()

</center>

<center> <strong>¬°Vamos con todo! </strong> </center>

## <font color='green'>Tabla de contenidos</font>

*   Estructuras de datos
  * Listas
  * Diccionarios
  * Transformaciones entre listas y diccionarios
  * Tuplas
  * Sets
*   NumPy Arrays
  * Utilizando Numpy Arrays
  * Carga de datos
  * Estad√≠sticas con NumPy
* Pandas DataFrames

<center>

![comencemos.png]()

</center>
<center> <font color='green'> ¬°Comencemos!</font> </center>

# <font color='green'>Estructuras de datos </font>

A continuaci√≥n, repasaremos algunas de las estructuras de datos que ya conoces, y a√±adiremos algunas otras que no abordamos en clases.

## üìú<font color='green'>Listas</font>

### üí° ¬øQu√© son?

Las listas son un tipo de dato en Python que nos permiten almacenar una colecci√≥n de elementos. Se pueden modificar, agregar, eliminar y acceder a sus elementos de diversas maneras.

Son muy √∫tiles para trabajar con colecciones de elementos y hacer operaciones con ellos. Adem√°s, son din√°micas, lo que significa que podemos agregar y eliminar elementos a medida que lo necesitemos.

**Importante:** Aunque los **arrays** de **NumPy** son m√°s adecuados para el an√°lisis de datos , queremos contar con un buen manejo de las estructuras b√°sicas de Python como las **listas** y los **diccionarios**. Si logramos combinar este conocimiento con las librer√≠as adecuadas, podremos crear soluciones de an√°lisis de datos de mayor calidad.

In [ ]:
"""
listas []
diccionarios {}
tuplas ()  eje (x,y,z,w)
"""

In [ ]:
## remove solo aguanta values, no indices
frutas_favoritas = ['manzana', 'banana', 'uva', 'fresa']
frutas_favoritas.remove(0)
frutas_favoritas

In [ ]:
amigos = {'Juan':27,
          'Maria':60,
          'Ana':40}

print(type(amigos))

#amigos_ordenados = amigos.items() ## lista de tuplas

#amigos_ordenados = sorted(amigos.items()) ## lista de tuplas ordenado

#amigos_ordenados = dict(sorted(amigos.items())) ## diccionario ordenado

print(amigos_ordenados)

### Principales operaciones con listas üìú

#### Creaci√≥n de una lista üìú¬∂

Crea una lista con los nombres de tus frutas favoritas üçéüçåüçáüçì.
Pide al usuario que agregue una fruta m√°s a la lista e imprime uno a uno sus elementos ü§îüë®‚Äçüíª.

In [13]:
amigos = {'Juan':27,
          'Maria':60,
          'Ana':40}
amigos_ordenados = sorted(amigos.items())
amigos_ordenados

[('Ana', 40), ('Juan', 27), ('Maria', 60)]

In [15]:
nombre = ['juan','maria','ana']
edad = [12,34,56]

type(zip(nombre, edad))

print(zip(nombre, edad))

<zip object at 0x7a2db94c9f80>

In [18]:
import numpy as np


lista = [1,2,3,4,5,6]

array = np.array(lista)

print(lista)
print(array)
array



[1,2,3,4]

vector = ()

[1, 2, 3, 4, 5, 6]
[1 2 3 4 5 6]

array([1, 2, 3, 4, 5, 6])

In [27]:
import numpy as np
import pandas as pd
prueba = np.loadtxt('prueba.csv',delimiter=';') ## array (arreglo)

prueba2 = pd.read_csv('prueba.csv',sep=';') ## dataframe df (tabla)

print(prueba)
print('')
print(prueba2)

[[ 15.   1.]
 [ 16.  97.]
 [ 56.  90.]
 [  9.  20.]
 [ 75.  55.]
 [ 14. 100.]
 [ 22.  83.]
 [ 10.  51.]
 [ 79.  60.]
 [ 65.  97.]
 [ 84.  69.]
 [ 70.   8.]
 [ 99.  69.]
 [  1.  56.]
 [ 71.  56.]
 [ 87.  56.]
 [ 98.  37.]
 [ 75.  10.]
 [ 10.  26.]
 [ 98.  17.]
 [ 32.  19.]
 [  5.  66.]
 [ 12.   3.]
 [ 30.  30.]
 [ 17.  24.]
 [ 92.  91.]
 [ 48.  36.]
 [ 17.  31.]
 [ 68.  65.]
 [ 91.   3.]
 [  4.  80.]
 [ 99.  37.]
 [ 84.  39.]
 [ 94.  64.]
 [ 47.  28.]
 [ 30.  69.]]

    15    1
0   16   97
1   56   90
2    9   20
3   75   55
4   14  100
5   22   83
6   10   51
7   79   60
8   65   97
9   84   69
10  70    8
11  99   69
12   1   56
13  71   56
14  87   56
15  98   37
16  75   10
17  10   26
18  98   17
19  32   19
20   5   66
21  12    3
22  30   30
23  17   24
24  92   91
25  48   36
26  17   31
27  68   65
28  91    3
29   4   80
30  99   37
31  84   39
32  94   64
33  47   28
34  30   69

In [ ]:
for i in rango lista diccionario etc

range(inicio, <fin, secuencia)

# Creaci√≥n de la lista con frutas favoritas
frutas_favoritas = ['manzana', 'banana', 'uva', 'fresa']

# Preguntar al usuario por una fruta y agregarla a la lista
nueva_fruta = input("Agrega una fruta a la lista: ")
frutas_favoritas.append(nueva_fruta)

# Mostrar la lista completa
print("Lista de frutas favoritas:")
for fruta in frutas_favoritas:
    print("-", fruta)

Agrega una fruta a la lista: durazno
Lista de frutas favoritas:
- manzana
- banana
- uva
- fresa
- durazno

#### Filtrar elementos en una lista üîç
- Crea una lista con los nombres de tus amigos üßë‚Äçü§ù‚Äçüßë.
- Pide al usuario que ingrese una letra y muestra los nombres que comienzan con esa letra üÜîüëÄ.

In [30]:
# Crear una lista con los nombres de tus amigos
amigos = ['Ana', 'Carlos', 'Luis', 'Mar√≠a', 'Pedro', 'Patricia']

# Pedir al usuario que ingrese una letra
letra = input("Ingresa una letra: ")

# Filtrar los nombres que comienzan con la letra ingresada
filtrados = [amigo for amigo in amigos if amigo.lower().startswith(letra.lower())]

# Mostrar los nombres filtrados
print("Nombres que comienzan con la letra", letra + ":")
for amigo in filtrados:
    print("-", amigo)

Ingresa una letra: a
Nombres que comienzan con la letra a:
- Ana

#### Agregar y eliminar elementos en una lista üìù
- Crea una lista con los nombres de tus pel√≠culas favoritas üé¨üçø.
- Pide al usuario que agregue una pel√≠cula nueva a la lista y elimine una pel√≠cula existente.
- Muestra la lista completa actualizada üé•ü§Ø.

In [ ]:
# Crea una lista con tus pel√≠culas favoritas
peliculas_favoritas = ["El Padrino", "Titanic", "El Se√±or de los Anillos", "La Cenicienta"]

# Pide al usuario que agregue una pel√≠cula nueva a la lista
nueva_pelicula = input("Por favor, escribe el nombre de una nueva pel√≠cula que quieras agregar a la lista: ")
peliculas_favoritas.append(nueva_pelicula)

# Pide al usuario que elimine una pel√≠cula existente de la lista
pelicula_a_eliminar = input("Por favor, escribe el nombre de una pel√≠cula que quieras eliminar de la lista: ")
peliculas_favoritas.remove(pelicula_a_eliminar)

# Muestra la lista completa actualizada
print("Esta es tu lista de pel√≠culas favoritas actualizada:")
for pelicula in peliculas_favoritas:
    print("-", pelicula)

Por favor, escribe el nombre de una nueva pel√≠cula que quieras agregar a la lista: Rocky
Por favor, escribe el nombre de una pel√≠cula que quieras eliminar de la lista: Titanic
Esta es tu lista de pel√≠culas favoritas actualizada:
- El Padrino
- El Se√±or de los Anillos
- La Cenicienta
- Rocky

#### Ordenar una lista üìä
- Crea una lista con los nombres de tus libros favoritos üìöüëÄ.
- Ordena la lista alfab√©ticamente y muestra los libros en orden ascendente üìñüîù.

In [ ]:
# Ordenar una lista
libros_favoritos = ["1984", "El Gran Gatsby", "Cien a√±os de soledad", "Orgullo y prejuicio"]

# Ordena la lista alfab√©ticamente
libros_favoritos.sort()

# Muestra los libros en orden ascendente
print("Esta es tu lista de libros favoritos en orden alfab√©tico:")
for libro in libros_favoritos:
    print(libro)

Esta es tu lista de libros favoritos en orden alfab√©tico:
1984
Cien a√±os de soledad
El Gran Gatsby
Orgullo y prejuicio

## üìö<font color='green'>Diccionarios</font>


### üí° ¬øQu√© son?

Son estructuras de datos que nos permiten almacenar **pares de valores**: una **clave** y un **valor** asociado.

Son muy √∫tiles cuando necesitamos acceder r√°pidamente a un valor a trav√©s de una clave.

Para crear un diccionario en Python, utilizamos llaves y separamos los pares clave-valor por comas.

### Principales operaciones con diccionarios üìïüìù
#### Creaci√≥n üìä
- Crea una lista con los nombres de tus libros favoritos üìöüëÄ.
- Ordena la lista alfab√©ticamente y muestra los libros en orden ascendente üìñüîù.

In [31]:
# Creaci√≥n
mi_diccionario = {'nombre': 'Juan', 'edad': 30, 'ciudad': 'Lima'}
print(mi_diccionario['nombre'])  # salida: 'Juan'
print(mi_diccionario['edad'])  # salida: 30

# Crea un diccionario con los nombres de tus amigos y la ciudad donde viven
amigos = {"Juan": "Bogot√°", "Maria": "Medell√≠n", "Luis": "Cali", "Ana": "Barranquilla"}

# Pide al usuario que agregue un amigo nuevo y la ciudad donde vive
nuevo_amigo = input("Por favor, escribe el nombre de un nuevo amigo: ")
ciudad_nuevo_amigo = input("Por favor, escribe la ciudad donde vive el nuevo amigo: ")
amigos[nuevo_amigo] = ciudad_nuevo_amigo

# Muestra el diccionario completo
print("Este es tu diccionario de amigos y ciudades:")
for amigo, ciudad in amigos.items():
    print(f"- {amigo} vive en {ciudad}")

Juan
30
Por favor, escribe el nombre de un nuevo amigo: Diego
Por favor, escribe la ciudad donde vive el nuevo amigo: Santiago
Este es tu diccionario de amigos y ciudades:
- Juan vive en Bogot√°
- Maria vive en Medell√≠n
- Luis vive en Cali
- Ana vive en Barranquilla
- Diego vive en Santiago

#### Filtrar elementos en un diccionario üîç
- Crea un diccionario con los nombres de tus amigos y su edad üßë‚ÄçüéÇ.
- Pide al usuario que ingrese una edad y muestra los nombres de los amigos que tienen esa edad üÜîüëÄ.

In [33]:
# Crea un diccionario con los nombres de tus amigos y su edad
amigos_edades = {"Juan": 25, "Maria": 30, "Luis": 25, "Ana": 27}

# Pide al usuario que ingrese una edad
edad_buscar = int(input("Por favor, escribe una edad para buscar amigos que tengan esa edad: "))

# Muestra los nombres de los amigos que tienen la edad buscada
print(f"Amigos que tienen {edad_buscar} a√±os:")

for amigo, edad in amigos_edades.items():
    if edad == edad_buscar:
        print("-", amigo)

Por favor, escribe una edad para buscar amigos que tengan esa edad: 25
Amigos que tienen 25 a√±os:
- Juan
- Luis

#### Agregar y eliminar elementos en un diccionario üìù
- Crea un diccionario con los nombres de tus pel√≠culas favoritas y su a√±o de lanzamiento üé•üìÖ.
- Pide al usuario que agregue una pel√≠cula nueva con su a√±o de lanzamiento y elimine una pel√≠cula existente.
- Muestra el diccionario completo actualizado ü§ØüëÄ.

In [ ]:
# Crea un diccionario con los nombres de tus pel√≠culas favoritas y su a√±o de lanzamiento
peliculas = {"El Padrino": 1972, "Pulp Fiction": 1994, "El Rey Le√≥n": 1994, "Titanic": 1997}

# Pide al usuario que agregue una pel√≠cula nueva con su a√±o de lanzamiento
nueva_pelicula = input("Por favor, escribe el nombre de una nueva pel√≠cula: ")
anio_nueva_pelicula = int(input("Por favor, escribe el a√±o de lanzamiento de la nueva pel√≠cula: "))
peliculas[nueva_pelicula] = anio_nueva_pelicula

# Pide al usuario que elimine una pel√≠cula existente
pelicula_eliminar = input("Por favor, escribe el nombre de una pel√≠cula para eliminarla: ")
del peliculas[pelicula_eliminar]

# Muestra el diccionario completo actualizado
print("Este es tu diccionario de pel√≠culas actualizado y a√±os de lanzamiento:")
for pelicula, anio in peliculas.items():
    print(f"- {pelicula} se lanz√≥ en {anio}")

Por favor, escribe el nombre de una nueva pel√≠cula: Bajos instintos
Por favor, escribe el a√±o de lanzamiento de la nueva pel√≠cula: 1989
Por favor, escribe el nombre de una pel√≠cula para eliminarla: El Padrino
Este es tu diccionario de pel√≠culas actualizado y a√±os de lanzamiento:
- Pulp Fiction se lanz√≥ en 1994
- El Rey Le√≥n se lanz√≥ en 1994
- Titanic se lanz√≥ en 1997
- Bajos instintos se lanz√≥ en 1989

#### Ordenar un diccionario üìä
- Crea un diccionario con los nombres de tus libros favoritos y su autor üìöüßë‚Äçüè´.
- Ordena el diccionario alfab√©ticamente por el nombre del libro y muestra los libros en orden ascendente üìñüîù.

In [ ]:
# Crea un diccionario con los nombres de tus libros favoritos y su autor
libros = {"El Quijote": "Miguel de Cervantes", "Cien a√±os de soledad": "Gabriel Garc√≠a M√°rquez", "La Iliada": "Homero", "Orgullo y prejuicio": "Jane Austen"}

# Ordena el diccionario alfab√©ticamente por el nombre del libro
libros_ordenados = dict(sorted(libros.items()))

# Muestra los libros en orden ascendente
print("Estos son tus libros favoritos ordenados alfab√©ticamente:")
for libro, autor in libros_ordenados.items():
    print(f"- {libro}, escrito por {autor}")

Estos son tus libros favoritos ordenados alfab√©ticamente:
- Cien a√±os de soledad, escrito por Gabriel Garc√≠a M√°rquez
- El Quijote, escrito por Miguel de Cervantes
- La Iliada, escrito por Homero
- Orgullo y prejuicio, escrito por Jane Austen

## üìú<font color='green'>Transformaciones entre listas y diccionarios</font>

Para transformar de listas a diccionarios en Python, puedes usar la funci√≥n **zip()**, que combina dos listas en pares de valores. Luego deber√°s convertir el objeto zip en una **lista** o un **diccionario** utilizando las funciones **list()** o **dict()**, respectivamente. Por ejemplo:

In [ ]:
nombres = ["Juan", "Mar√≠a", "Pedro"]
edades = [28, 30, 25]

diccionario_edades = dict(zip(nombres, edades))

print(diccionario_edades)

{'Juan': 28, 'Mar√≠a': 30, 'Pedro': 25}

Para transformar de **diccionarios** a **listas**, puedes usar los m√©todos **keys()** y **values()**.
Por ejemplo:

In [34]:
diccionario_edades = {'Juan': 28, 'Mar√≠a': 30, 'Pedro': 25}

nombres = list(diccionario_edades.keys())
edades = list(diccionario_edades.values())

print(nombres)
print(edades)

['Juan', 'Mar√≠a', 'Pedro']
[28, 30, 25]

Como vemos en estos ejemplos, para transformar de **diccionario** a **lista** obtendremos o las llaves o los valores del diccionario.

Por otro lado para transformar de **lista** a **diccionario** debemos pasarle pares llave-valor o **tuplas** para adaptar la estructura a la de un **diccionario.**

## üìú<font color='green'>Tuplas</font>

Las tuplas en Python son estructuras de datos similares a las listas, pero a diferencia de ellas son **inmutables,** es decir, una vez creadas no se pueden modificar.

Para crear una tupla en Python se utiliza una sintaxis similar a la de las listas, pero en lugar de corchetes, se utilizan par√©ntesis.

In [37]:
mi_tupla=(1,2,3,4)
print(mi_tupla[3]) ## no se pueden sobre escribir

4

In [ ]:
# ¬°Aqu√≠ tendremos un error!

mi_tupla[1] = 2

2 = 6 ????

mi_tupla[1]=6 ## no se pueden sobre escribir
print(mi_tupla)

TypeError: ignored

In [38]:
lista_ejemplo = ['ana','luis','pedro']

lista_ejemplo[0] = 'maria'

print(lista_ejemplo)

['maria', 'luis', 'pedro']

## üìú<font color='green'>Sets</font>

Los **sets** en Python son una estructura de datos que permite almacenar elementos √∫nicos e inmutables en un conjunto sin orden. Una gran ventaja de los sets es **la eliminaci√≥n de elementos duplicados de una lista.**

In [ ]:
my_set = set([1, 2, 3, 3, 3, 3])
print(my_set)

{1, 2, 3}

# <font color='green'>NumPy Arrays </font>

<center>

![arrays.png]()

<\center>

Los **NumPy Arrays** son una estructura de datos m√°s eficiente que las **listas** y **diccionarios** para manejar grandes cantidades de datos num√©ricos, como n√∫meros enteros y flotantes., Para ello, cuentan con funciones integradas para realizar operaciones matem√°ticas en matrices y vectores de manera eficiente. ü§ì

A diferencia de las **listas** y **diccionarios**, los **arrays** de **NumPy** est√°n dise√±ados para contener **solo un tipo de datos homog√©neos**. Esto significa que los **arrays** de **NumPy** pueden procesarse m√°s r√°pidamente que las **listas** y los **diccionarios** porque no necesitan hacer comprobaciones de tipos para cada elemento.Pero no te preocupes, ¬°las **listas** y los **diccionarios** tienen utilidades √∫nicas que los **arrays** de **NumPy** no pueden igualar! Son m√°s vers√°tiles y flexibles, lo que significa que pueden almacenar cualquier tipo de objeto en Python. Y lo mejor de todo es que podemos combinar las diferentes estructuras de datos para realizar tareas m√°s complejas y lograr el mejor resultado en nuestras misiones de an√°lisis de datos.

Aunque las **listas** de Python y los **arrays** comparten algunas similitudes, la principal diferencia radica en su estructura interna. Los **arrays** est√°n optimizados para realizar operaciones matem√°ticas y manipular grandes cantidades de datos de forma eficiente, mientras que las **listas** de Python est√°n dise√±adas para ser m√°s flexibles.

## üöÄUtilizando NumPy Arraysüíª

Para usar **NumPy** y **arrays** en Python, primero debes asegurarte de tener **NumPy** instalado en tu entorno de Python.

- Puedes instalarlo usando un administrador de paquetes de Python como **pip**: ```pip install numpy```

- Una vez instalado, puedes importar **NumPy** en tu script o Notebook de Python: ```import numpy as np```

Para crear un array de NumPy usamos la funci√≥n **numpy.array()**. Por ejemplo, para crear un array de **una dimensi√≥n** podemos usar una **lista** que contenga los n√∫meros del 0 al 4 puedes hacer lo siguiente:

In [ ]:
import numpy as np

lista = [0, 1, 2, 3, 4]
my_array = np.array(lista)

print(my_array)

[0 1 2 3 4]

<hr>

### üßêüìä Operaciones Vectorizadas

Observa los siguientes ejemplos:

In [39]:

lista1 = [1,2,3]
lista2 = [10,20,30]
lista3 = [100, 200, 300]

array1 = np.array(lista1)
array2 = np.array(lista2)
array3 = np.array(lista3)

In [40]:
lista1 + lista2 + lista3

[1, 2, 3, 10, 20, 30, 100, 200, 300]

In [41]:
array1 + array2 + array3

array([111, 222, 333])

In [42]:
array1*array2

array([10, 40, 90])

In [ ]:
array1/array2

array([0.1, 0.1, 0.1])

In [ ]:
2*lista1

[1, 2, 3, 1, 2, 3]

In [ ]:
2*array1

array([2, 4, 6])

Al sumar objetos de tipo **array** se obtendr√° otro **array** resultante que contiene en cada posici√≥n la suma de los elementos que ocupan esa posicion en los **arrays** individuales. Este comportamiento donde se aplica una operacion a cada elemento uno a uno, se conoce como **operaciones vectorizadas.**
<hr>

### üîç Filtrado de un Array

La manera de obtener un **array filtrado** se puede lograr mediante la **indexaci√≥n booleana** de **NumPy**. Por ejemplo, supongamos que tenemos un **array** de **NumPy** llamado arr y queremos obtener un **nuevo array** que contenga solo los valores mayores que 5:

In [ ]:
import numpy as np

lista = [1, 6, 3, 8, 2, 9,10]

arr = np.array(lista)

arr[arr > 5]

array([ 6,  8,  9, 10])

Para filtrar un array por m√°s de una condici√≥n, se puede combinar las condiciones utilizando las funciones:
- **numpy.logical_and().**
- **numpy.logical_or().**

Por ejemplo, si tenemos un arreglo de n√∫meros aleatorios y queremos filtrar los valores que sean mayores a 5 y menores a 10, podemos hacer lo siguiente:

In [ ]:
arr[np.logical_and(arr > 5, arr < 10)]

array([6, 8, 9])

### Otros m√©todos de los Arrays:

- **np.zeros():** Crea un array de ceros con la forma especificada.
- **np.ones():** Crea un array de unos con la forma especificada.
- **np.arange():** Crea un array con valores espaciados uniformemente en un intervalo especificado.
- **np.linspace():** Crea un array con valores espaciados uniformemente en un rango especificado.

In [43]:
a=np.zeros(3)
b=np.ones(3)
c=np.arange(2,30,5)#inicio, fin, distancia entre valores
d=np.linspace(2,3,5)#inicio, fin, cantidad de valores
print(a)
print(b)
print(c)
print(d)

[0. 0. 0.]
[1. 1. 1.]
[ 2  7 12 17 22 27]
[2.   2.25 2.5  2.75 3.  ]

## <font color='green'>Carga de datos</font>

Existen varias funciones en NumPy que nos permiten cargar datos desde diferentes fuentes:

- **load():** Esta funci√≥n nos permite cargar un array de NumPy desde un archivo en formato binario (.npy). Este formato es espec√≠fico de NumPy y es muy eficiente en t√©rminos de velocidad de carga y almacenamiento.

- **loadtxt():** Esta funci√≥n nos permite cargar un array de NumPy desde un archivo de texto plano. Los archivos de texto plano son archivos que contienen datos separados por alg√∫n car√°cter (como una coma o un espacio en blanco).

- **genfromtxt():** Esta funci√≥n es similar a loadtxt, pero es m√°s flexible y puede manejar archivos con formatos de datos m√°s complejos

Por ejemplo:

In [45]:
nombres = np.loadtxt("nombre_astronautas.csv", delimiter=',', dtype=str, encoding='utf-8')
print(nombres)

['F√°tima Tafalla' 'Sof√≠a Puig' 'Valentina Tasis' 'Regina Cicer√≥n'
 'Amaya de la Cruz' 'Mar√≠a Juder√≠as' 'Perla Alcocer' 'Consuela Arboleda'
 'Mar√≠a Jos√© Franco' 'Emanuel G√°lvez' 'Alberto Graciani'
 'Patricio Encarnaci√≥n' 'Crist√≥bal Miralles' 'Pablo Cotilla'
 'Pablo Capmany' 'Nicol√°s Cambeiro' 'Daniel S√°nchez' 'Samuel G√°lvez'
 'Jos√© Par√≠s' 'Kevin Pareja' 'Estefania Manzanares' '√ìliver Fonseca'
 'Christopher Berganza' '√Ålvaro Espina' 'Leonardo Magrina'
 'Fernando G√°lvez' 'Sophie Gonz√°lez' 'Alexia Gaos' 'F√°tima Varela'
 'Clara Arias' 'Paloma Berganza']

Los argumentos que se pasan a la funci√≥n son los siguientes:

- **nombre_astronautas.csv:** este es el nombre del archivo que se desea cargar.

- **delimiter:** este argumento indica que el delimitador utilizado en el archivo es la coma (','). Es decir, cada valor en el archivo est√° separado por comas.

- **dtype:** este argumento indica que se desea cargar los datos como cadenas de texto (strings).

- **encoding:** este argumento indica que el archivo est√° codificado en UTF-8. UTF-8 es un tipo de codificaci√≥n de caracteres que permite representar la mayor√≠a de los caracteres utilizados en el mundo.

Adiiconalmente, podemos utilizar alguns otros par√°metros optativos que nos ser√°n √∫tiles para la carga de archivos separados por coma, como los **csv*:

- **skiprows:** Con este par√°metro puedes indicar el n√∫mero de filas que quieres saltar al leer el archivo. Esto es √∫til si el archivo tiene filas de encabezado que no contienen datos, por ejemplo.

- **usecols:** Este par√°metro te permite seleccionar las columnas que quieres leer del archivo. Puedes pasarle un n√∫mero de columna (empezando por cero) o una lista de n√∫meros si necesitas leer varias columnas.

Por ejemplo, supongamos que tenemos un archivo de datos separados por comas:
a,	b,	c,	d<br>
1,	4,	6,	2<br>
2,	5,	4,	1<br>
3,	4,	9,	7<br>
4,	8,	0,	3<br>
5,	6,	9,	9<br>
6,	23,	87,	3<br>
7,	8,	6,	75<br>
8,	5,	4,	53<br>
9,	9,	2,	43<br>
10,	6,	2,	3<br>

Utilizamos los par√°metros del m√©todo loadtxt() para indicar que el archivo tiene separaci√≥n por comas, tambi√©n indicamos que solo considere las columnas 1 y 2,  y tambi√©n que se salte la fila que tiene los encabezados.

In [46]:
datos = np.loadtxt('datos.csv', delimiter=',', skiprows=1, usecols=(1, 2), dtype=int)
print(datos)

[[ 4  6]
 [ 5  4]
 [ 4  9]
 [ 8  0]
 [ 6  9]
 [23 87]
 [ 8  6]
 [ 5  4]
 [ 9  2]
 [ 6  2]]

<hr>

## üöÄ <font color='green'>Estadisticas con NumPy</font>

Podemos utilizar algunas funciones para el c√°lculo de indicadores estad√≠sticos con NumPy:

### üëâüèº Algunos de los m√©todos m√°s √∫tiles de los arrays de NumPy para el c√°lculo de medidas estad√≠sticas son:

- **numpy.mean():** Calcula la media de los elementos del array.
- **numpy.median():** Calcula la mediana de los elementos del array.
- **numpy.std():** Calcula la desviaci√≥n est√°ndar de los elementos del array.
- **numpy.var():** Calcula la varianza de los elementos del array.
- **numpy.percentile():** Calcula el percentil de los elementos del array.

### üßê ¬øPor qu√© son √∫tiles estos m√©todos?

Porque nos permiten entender mejor los datos que estamos analizando y sacar conclusiones m√°s precisas. En estad√≠stica buscamos describir un conjunto de datos, nos apoyaremos en usar estos m√©todos para calcular la media y la desviaci√≥n est√°ndar de algun campo en particular, lo que nos dar√° una idea de c√≥mo est√°n distribuidos los valores.
<hr>

In [47]:
valores = np.array([5,2,7,3,7,4,8,4,2,5,8,4,7,4,7,9,0,5,3,3])
print(np.mean(valores))#Calcula la media de los elementos del array.
print(np.median(valores))#Calcula la mediana de los elementos del array.
print(np.std(valores))#Calcula la desviaci√≥n est√°ndar de los elementos del array.
print(np.var(valores))#Calcula la varianza de los elementos del array.
print(np.percentile(valores,75))#Calcula el percentil 75 de los elementos del array.

4.85
4.5
2.329699551444349
5.4275
7.0

# <font color='green'>Pandas DataFrames</font>

- üêº **Pandas** es una biblioteca de Python que se basa en gran medida en la biblioteca **NumPy** üßÆ, pero proporciona estructuras de datos adicionales y funciones que la hacen m√°s adecuada para el an√°lisis y la manipulaci√≥n de datos.


- üîé Una de las estructuras de datos clave en **Pandas** es el **DataFrame**, que se utiliza para almacenar y manipular datos en forma de tabla bidimensional. Los **DataFrames** de **Pandas** son m√°s flexibles que los **arrays** de **NumPy** ü§∏‚Äç‚ôÄÔ∏è, ya que pueden almacenar diferentes tipos de datos en diferentes **columnas**.


- üöÄ **Pandas** es una evoluci√≥n de **NumPy** que se enfoca en el an√°lisis y la manipulaci√≥n de datos estructurados y etiquetados y  proporcionan una amplia variedad de funciones para realizar operaciones de manipulaci√≥n y agregaci√≥n de datos.

Un **DataFrame** de **Pandas** tambien puede ser construido a partir de estructuras de datos mas simples de Python, como las **listas** y los **diccionarios**, como se muestra en los siguientes ejemplos:

In [48]:
# Una lista de diccionarios.
import pandas as pd


lista_de_diccionarios = [

    {'nombre': 'Ana', 'profesion': 'guitarra', 'edad': '34'},
    {'nombre': 'Luis', 'profesion': 'fot√≥grafo', 'edad': '27'},
    {'nombre': 'Mar√≠a', 'profesion': 'profesora', 'edad': '42'},
    {'nombre': 'Pedro', 'profesion': 'chef', 'edad': '39'},
    {'nombre': 'Isabel', 'profesion': 'arquitecta', 'edad': '29'},
    {'nombre': 'Sergio', 'profesion': 'm√∫sico', 'edad': '25'},
    {'nombre': 'Carla', 'profesion': 'ingeniera', 'edad': '31'},
    {'nombre': 'David', 'profesion': 'estudiante', 'edad': '20'},
    {'nombre': 'Luc√≠a', 'profesion': 'abogada', 'edad': '36'},
    {'nombre': 'Jorge', 'profesion': 'actor', 'edad': '28'}

]

print(type(lista_de_diccionarios))
print(lista_de_diccionarios)

df = pd.DataFrame(lista_de_diccionarios)
df

<class 'list'>
[{'nombre': 'Ana', 'profesion': 'guitarra', 'edad': '34'}, {'nombre': 'Luis', 'profesion': 'fot√≥grafo', 'edad': '27'}, {'nombre': 'Mar√≠a', 'profesion': 'profesora', 'edad': '42'}, {'nombre': 'Pedro', 'profesion': 'chef', 'edad': '39'}, {'nombre': 'Isabel', 'profesion': 'arquitecta', 'edad': '29'}, {'nombre': 'Sergio', 'profesion': 'm√∫sico', 'edad': '25'}, {'nombre': 'Carla', 'profesion': 'ingeniera', 'edad': '31'}, {'nombre': 'David', 'profesion': 'estudiante', 'edad': '20'}, {'nombre': 'Luc√≠a', 'profesion': 'abogada', 'edad': '36'}, {'nombre': 'Jorge', 'profesion': 'actor', 'edad': '28'}]

   nombre   profesion edad
0     Ana    guitarra   34
1    Luis   fot√≥grafo   27
2   Mar√≠a   profesora   42
3   Pedro        chef   39
4  Isabel  arquitecta   29
5  Sergio      m√∫sico   25
6   Carla   ingeniera   31
7   David  estudiante   20
8   Luc√≠a     abogada   36
9   Jorge       actor   28

In [49]:
prueba_2 = pd.read_excel('prueba_2.xlsx')
print(prueba_2)

    hola  Unnamed: 1 Unnamed: 2 Unnamed: 3  Unnamed: 4
0    NaN         NaN        NaN        NaN         NaN
1    NaN         NaN        NaN        NaN         NaN
2    NaN         NaN       q342        NaN         NaN
3    NaN         NaN        NaN        NaN         NaN
4    NaN         NaN        NaN        NaN         NaN
5    NaN         NaN        NaN        NaN       357.0
6    NaN         NaN        NaN        NaN         NaN
7    NaN         NaN        NaN        NaN         NaN
8    NaN         NaN        NaN        NaN         NaN
9    NaN         NaN     nombre       edad         NaN
10   NaN         NaN       juan         23         NaN
11   NaN         NaN      maria         40         NaN
12   NaN         NaN      luisa         31         NaN

In [50]:
# Una lista de listas. (listas anidadas):

lista_anidada = [

    ['Ana', 'guitarra', '34'],
    ['Luis', 'fot√≥grafo', '27'],
    ['Mar√≠a', 'profesora', '42'],
    ['Pedro', 'chef', '39'],
    ['Isabel', 'arquitecta', '29'],
    ['Sergio', 'm√∫sico', '25'],
    ['Carla', 'ingeniera', '31'],
    ['David', 'estudiante', '20'],
    ['Luc√≠a', 'abogada', '36'],
    ['Jorge', 'actor', '28']
]


df = pd.DataFrame(lista_anidada, columns = ['nombre', 'profesion', 'edad'])
df

   nombre   profesion edad
0     Ana    guitarra   34
1    Luis   fot√≥grafo   27
2   Mar√≠a   profesora   42
3   Pedro        chef   39
4  Isabel  arquitecta   29
5  Sergio      m√∫sico   25
6   Carla   ingeniera   31
7   David  estudiante   20
8   Luc√≠a     abogada   36
9   Jorge       actor   28

In [54]:
# Obtener la primera fila.
df.head()

   nombre   profesion edad
0     Ana    guitarra   34
1    Luis   fot√≥grafo   27
2   Mar√≠a   profesora   42
3   Pedro        chef   39
4  Isabel  arquitecta   29

**Pandas** tambi√©n es capaz de leer datos desde muchisimas fuentes externas, entre ellas estan los archivos excel, archivos de texto planos, html de una pagina web, etc.

üìäüìà Veamos un ejemplo leyendo un archivo **EXCEL**:

In [55]:
import pandas as pd

df = pd.read_excel("resumen_resultados_astronautas.xlsx")
df.head(10)

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
0,Alana Morillo,32,75,180,93,88,78,89,6,Si
1,F√°tima Tafalla,27,68,167,82,95,81,87,4,Si
2,Sof√≠a Puig,29,80,185,85,80,90,91,3,Si
3,Valentina Tasis,30,65,175,90,91,85,92,2,No
4,Regina Cicer√≥n,31,76,183,89,87,83,90,7,Si
5,Amaya de la Cruz,26,64,170,80,94,79,86,4,No
6,Mar√≠a Juder√≠as,28,78,182,88,85,87,92,5,Si
7,Perla Alcocer,30,71,168,86,92,82,88,3,No
8,Consuela Arboleda,33,77,188,94,83,89,93,8,Si
9,Mar√≠a Jos√© Franco,29,70,175,87,90,80,89,2,No

üóÇÔ∏èüóÑÔ∏è Ahora para un archivo **CSV**:

In [ ]:
df_venta_rosquillas = pd.read_csv("donut_lab_sales.csv", delimiter = ',')
df_venta_rosquillas.head(5)

                  rosquilla  cantidad
0       Rosquilla de Filete        52
1        Rosquilla de Tacos        12
2          Rosquilla de Uva        62
3  Rosquilla de Champi√±ones        90
4        Rosquilla de Carne        22

ü•íüè∫ Ahora con un archivo **PICKLE**:

In [56]:
df_info_nutricional = pd.read_pickle("info_nutricional_rosquillas.pkl")
df_info_nutricional.head(5)

#pd.read_sql(,)

,Tipo de Rosquilla,Puntuaci√≥n,Calor√≠as,Grasas (g),Prote√≠nas (g),Carbohidratos (g),Az√∫car (g)
0,Queso,75,320,16,4,38,22
1,Hamburguesa,65,290,14,3,36,18
2,Carne,63,310,15,3,38,20
3,Miel,61,280,13,2,36,21
4,Uva,60,250,12,2,32,18

Una vez que hemos cargado nuestros datos en un DataFrame de Pandas, podemos trabajar con ellos en la memoria principal del ordenador. Esto nos permite realizar operaciones de an√°lisis de datos r√°pidas y eficientes en grandes conjuntos de datos sin tener que acceder constantemente al disco duro.

En contraste, los datos almacenados en una base de datos SQL suelen estar en un disco duro externo, lo que significa que acceder a ellos puede ser mucho m√°s lento que trabajar con los datos en la memoria principal del ordenador. Sin embargo, las bases de datos SQL son muy √∫tiles para almacenar grandes conjuntos de datos y permiten el acceso a los datos desde m√∫ltiples usuarios y aplicaciones al mismo tiempo.

In [68]:
lista_num = [1,2,3,4,5,6,7,8,9]
print(lista_num)
print(lista_num[0:4])


lista_num.sort(reverse=True)

print(lista_num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

# <center><font color='green'>Ejercicios</font></center>

1.  Crea una lista de n√∫meros y calcula la suma de todos los elementos.

In [ ]:
lista_num = [1,2,3,4,5,6,7]
sum(lista_num)

2.  Dada una lista de calificaciones, calcula el promedio de las calificaciones.

In [ ]:

numeros = [10, 20, 30, 40, 50]
promedio = sum(numeros)/len(numeros)
print(promedio)